// COLORES
// --------------------------------------------------------
$primaryblue: #148FBE !default;
$primaryblack: #000000 !default;
$primaryblue-darck: #105D77 !default;
$secundarygreen: #C0D43B !default;
$secundarygreen-darck: #5B671B !default;
$background-grey: #D9D9D9 !default;
$background-grey-two: #F9F7F7 !default;
$green-text: #0B7509 !default;
$background-darck: #143939 !default;
