.title-blue {
    font-size: 50px;
    font-weight: 500;
}
.text-wellcome {
    font-size: 26px;
    margin: 55px 0;
}
.btn.btn-secundary{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    padding: 17px;
    max-width: 200px;
}
.content {
    max-width: 736px;
    margin: 0 66px;
}