/*-- Con elementos nuevos del Figma --*/

body, html {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

.nav-left{
    display: flex;
    flex-direction: row; /* Cambia a fila para mostrar las imágenes horizontalmente */
    align-items: flex-start; /* Alinea los elementos por el borde superior */
}

.logo-GS{
    position: absolute;
    width: 111px;
    height: 112px;
    top: 89px;
    left: 89px;
    gap: 0px;
    opacity: 0px;
}

.container-main {
height: 100vh;
width: 100vw;
overflow: hidden;
}

/*-- --*/

.home{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.cover{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 30%;
    box-sizing: border-box;
}

.cover-xt {
    position: absolute;
    top: 216px; /* Ajusta el valor según la altura de la primera barra */
    left: 0px;
    width: 100%;
    height: 75vh;
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 0%;
    /*box-sizing: border-box;*/
    /*height: 400px;*/
    overflow-y: scroll;
    /*width: 800px;*/
    /*margin: 0 auto; /* Centrar el contenido */
    background-color: rgba(209, 176, 193, 0.3); /* Fondo rojo semi-transparente */
  }

.navbarx{
    width: 100%;
    height: 72px;    
    display: flex;
    align-items: left;
    justify-content: left;
    box-sizing: border-box;
    position: fixed;
    color: white;
}

.contenedor{
    width: 100%;
    height: 72px;    
    display: flex; /* Convertimos el contenedor en un flexbox para mejor control de alineación */
    justify-content: left; /* Centra los elementos horizontalmente */
    align-items: left; /* Centra los elementos verticalmente */
    flex-direction: column;
    gap: 50px; /* Espacio entre elementos */
}

.navbar{
    width: 100%;
    height: 72px;    
    display: flex;
    align-items: left;
    box-sizing: border-box;
    position: fixed;
    color: white;
    /*background-color: red;*/
}

.nav-container {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Espacio entre las barras */
}

.nav1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 72px;
  background-color: rgba(90, 176, 209, 0.3); /* Fondo rojo semi-transparente */
}

.nav2 {
  position: absolute;
  top: 72px; /* Ajusta el valor según la altura de la primera barra */
  left: 0;
  width: 100%;
  height: 72px;
  background-color: rgba(192, 212, 59, 0.3); /* Fondo rojo semi-transparente */
}

.nav3 {
  position: absolute;
  top: 144px; /* Ajusta el valor según la altura de la primera barra */
  left: 0;
  width: 100%;
  height: 72px;
  background-color: rgba(90, 176, 209, 0.3); /* Fondo rojo semi-transparente */
  display: flex;
  justify-content: center;
}

.image-container {
    top: 21px;
    left: 17px;    
    gap: 0px;
    opacity: 0px;    
    display: flex;
    flex-direction: row; /* Cambia a fila para mostrar las imágenes horizontalmente */
    align-items: flex-start; /* Alinea los elementos por el borde superior */
}

.image-container img {
    width: auto;
    height: 64px; /* Ajusta el alto deseado para todas las imágenes */
}

.button-container{
    display: flex;
    height: 200px; /* Ajusta esta altura según tus necesidades */
}

.boton {
    width: Fixed (150px)px;
    height: Fixed (40px)px;
    gap: 10px;
    border-radius: 10px 10px 10px 10px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    margin-left: auto; /* Empuja el botón hacia la derecha */
    margin-top: 66px;
    margin-right: 316px;
    /* Agrega estilos adicionales para el botón aquí, como background-color, color, etc. */
}

.content {
    display: flex; /* Convertimos el contenedor en un flexbox para mejor control de alineación */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    flex-direction: column;
    gap: 50px; /* Espacio entre elementos */
}

.content img {
    width: 257px; /* Ajusta el ancho de la imagen */
    height: 258px;
}

.content p {
    font-size: 20px;
    font-family: Inter, Arial, Helvetica, sans-serif;
    /*font-weight: 500;*/
    line-height: 22px;
    text-align: left;
    color: black;

}

@media (max-width: 768px) {
    .content {
    /* Ajustes para pantallas pequeñas */
    }
}

.footer {
    left: 17px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 0px;
    opacity: 0px;
    position: fixed; /* Fix the footer to the bottom */
    bottom: 0; /* Place it at the absolute bottom */
    width: 100%; /* Span the full width of the viewport */
    background-color: bg-transparent; /* Set a background color */
    padding: 20px; /* Add some padding for spacing */

}

.footer span{
    font-family: Poppins;
    font-size: 13px;
    font-weight: 500;
    line-height: 19.5px;
    text-align: left;
    color: black;
}

.footer img{
    margin-right: 5px;
}

.modal-body img {
    display: block;
    margin: 0 auto;
}
.modal-dialog {
    max-width: 80%;
}

.integrantes{
    width: 1124px;
    height: 425px;
    left: 95px;
    gap: 0px;
    opacity: 0px;
}

.contenedor-botones {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boton-reset{
    width: 150px;
    height: 40px;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #148FBE;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 10px;
}

.boton-sigin{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    /*border: 1px solid #148FBE;*/
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 10px;
    background: #C0D43B;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.centered {
    margin: 10px;
}

img {
    max-width: 50%;
    height: auto;
}

.splash-screen-title {
    font-size: 58pt;
    font-weight: bold;
    color: #148FBE; 
}

.splash-screen-message {
    font-size: 24pt;
    font-weight: bold;
    color: #000000; 
}

.my-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Arrange flex items vertically */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content-email{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 400px;
}

.content-email-head {
    text-align: center;
}

.content-email-message {
    /*font-family: Inter;*/
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.01em;
    text-align: center;
    color: black;
    width: 400px;
}

.boton-email{
    width: 349px;
    height: 57px;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #148FBE;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 10px;
    background-color: white;
}

.margin-auto{
    margin: auto;
}

.font-24{
    font-size: 24px;
}

.width-400{
    width: 400px;
}

.width-550{
    width: 550px;
}

.fw-500{
    font-weight: 500;
}