.modal-body .detalle-btn {
    display: block; /* Hace que los botones estén uno debajo del otro */
    width: 100%; /* Hace que los botones ocupen todo el ancho disponible */
    margin-bottom: 10px; /* Espacio entre los botones */
    background-color: transparent; /* Hace los botones transparentes */
    border: none; /* Elimina el borde de los botones */
    color: #000; /* Color del texto */
    text-align: left; /* Alinea el texto a la izquierda */
    font-size: 16px; /* Tamaño del texto */
  }
  
  .modal-body .detalle-btn i {
    margin-right: 10px; /* Espacio entre el icono y el texto */
  }
  